<div class="row text-white banner clearfix">
  <div class="col-md-6 py-4 content">
    <h2 class="display-4" style="width: 60%;">Online Personal Guidance And Counselling</h2>
    <p class="lead my-4"><span class="pr-4">---</span>Designed By {{author}}</p>
  </div>
  <div class="col-md-6 py-4 content d-flex flex-wrap justify-content-around">
    <a href="/staff/appointment/{{user._id}}" class="round-link bg-success text-white d-flex">
      <span class="lead">Schedule Appointment</span>
    </a>
    <a href="/staff/question/{{user._id}}" class="round-link bg-primary text-white d-flex">
      <span class="lead">Answer Questions</span>
    </a>
  </div>
</div>